@page "/fetchdata"
@inject IHttpClientFactory Http

<h1>Fetch data</h1>

@*<p>This component demonstrates fetching data from the server.</p>*@
<p>Remote API Call response:</p>

@stringResponse

@code {
    string stringResponse;
    protected override async Task OnInitializedAsync()
    {
        var client = Http.CreateClient("api");
        var response = await client.GetAsync("/ping");
        stringResponse = await response.Content.ReadAsStringAsync();
    }
}
